# Get Started with SparseTensorClassifier

 Get Started with `SparseTensorClassifier` by classifying animals based upon their attributes. 


## Colab

This tutorial and the rest in [this sequence](https://github.com/SparseTensorClassifier/tutorial) can be done in Google colab. If you'd like to open this notebook in colab, you can use the following link or click [here](https://colab.research.google.com/github/SparseTensorClassifier/tutorial/blob/main/Quickstart.ipynb).

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/SparseTensorClassifier/tutorial/blob/main/Quickstart.ipynb)

## Setup

Uncomment and run the following cell to install the packages. Then, import the modules.

In [1]:
# !pip install stc pandas scikit-learn

In [2]:
import pandas as pd
from stc import SparseTensorClassifier
from sklearn.metrics import accuracy_score

## Read the dataset

The dataset consists of 101 animals from a zoo. There are 16 variables with various traits to describe the animals. The 7 Class Types are: Mammal, Bird, Reptile, Fish, Amphibian, Bug and Invertebrate. Let's read and shuffle the data.

In [3]:
zoo = pd.read_csv('./data/zoo/zoo.csv')
zoo = zoo.sample(frac=1, random_state=42)
zoo

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
84,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,Mammal
55,oryx,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,Mammal
66,porpoise,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,Mammal
67,puma,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,Mammal
45,lion,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,Mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,pike,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,Fish
71,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,Bird
14,crab,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,Invertebrate
92,tuna,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,Fish
51,moth,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,Bug

## Initialize SparseTensorClassifier

Let's instruct STC to predict `class_type` based on all the other attributes in the dataset, except `animal_name`.

In [4]:
STC = SparseTensorClassifier(targets=['class_type'], features=zoo.columns[1:-1])

## Fit the training data

Train STC on the first 70 animals in the dataset. 
- **Note:** STC deals with **categorical** variables only. Continuous features should be discretized first.

In [5]:
STC.fit(zoo[0:70])

## Predict the test data

Predict the other animals. STC returns a tuple of (labels, probability, explainability):
- **labels:** The predicted classes. 
- **probability:** Probability for each class.
- **explainability:** Contribute of each feature to the predictions.

To save computational time, let's set `probability=False` and `explain=False`, so that only the class labels are computed.
- **Note:** In the prediction phase, STC considers only the `features` provided in initialization. Additional variables (including `targets`) are ignored.

In [6]:
labels, _, _ = STC.predict(zoo[70:], probability=False, explain=False)

## Evaluation

In [7]:
accuracy_score(zoo['class_type'][70:], labels)

0.967741935483871

# Congratulations! 

Congratulations on completing this tutorial notebook! If you enjoyed working through the tutorial, and want to continue working with SparseTensorClassifier, we encourage you to finish the rest of the tutorials in [this series](https://github.com/SparseTensorClassifier/tutorial). Don't forget to star the [repository](https://github.com/SparseTensorClassifier/stc)! 

[![GitHub Repo stars](https://img.shields.io/github/stars/SparseTensorClassifier/stc?style=social)](https://github.com/SparseTensorClassifier/stc)

Thanks by https://sparsetensorclassifier.org